<div class="card text-dark p-4 m-3">
  <img src="{{ myProduct?.imageURL }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <div class="d-flex justify-content-around">
      <h5 class="card-title">{{ myProduct?.name }}</h5>
      <h5 class="w-50 text-center">
        {{ myProduct?.price | currency }}
      </h5>
    </div>
    <p class="card-text">{{ myProduct?.description }}</p>
    <div [ngSwitch]="myProduct?.quantity">
      <p *ngSwitchCase="0" class="fs-4 text-danger fw-bold">Out of Stock</p>
      <p *ngSwitchCase="1" class="fs-5 text-warning fw-bold">
        only one product Available
      </p>
      <p *ngSwitchDefault class="fs-5 text-dark fw-bold">
        Quantity: {{ myProduct?.quantity }}
      </p>
    </div>
  </div>
  <div
    [ngClass]="{
      btn: true,
      'btn-primary': myProduct?.quantity != 0,
      'btn-danger disabled': myProduct?.quantity == 0
    }"
    (click)="buy()"
  >
    <strong>{{
      myProduct?.quantity === 0 ? "soild out!" : "Buy Now !"
    }}</strong>
  </div>
</div>
